.navigation {
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;     
}

.logo {
    width: 80px;
}

.navigation .nav-links-container {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: end;
}

.navigation .nav-link {
    padding: 10px 15px;
    cursor: pointer;
  }